        /* Body & Wrapper */


@import url(https://db.onlinewebfonts.com/c/9475d6a0b79c164f9f605673714e75d9?family=Circular+Std+Medium);

@font-face {
    font-family: "Circular Std";
    src: url("fonts/CircularStd-Book.woff2") format("woff2"),
         url("fonts/CircularStd-Book.woff") format("woff");
  }

body{
    margin: 0;
    font-family: Circular Std;
    background: #E5E5E5;
}

#wrapper{
    width: 100%;
    max-width: 1440px;
    background: #fff;
    margin: 0 auto;
}


        /* Menu & Logo */


#nav{
    font-family: 'Circular Std Medium';
    padding: 18px 97px 18px 69px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}

#nav a{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #000;
}

#nav li{
    padding-right: 32px;
}

#nav ul{
    justify-content:space-between;
}

#nav #demo{
    display: inline-block;
    white-space: nowrap;
    width: 136px;
    height: 44px;
    line-height: 20px;
    padding: 12px 23px;
    font-size: 16px;
    color: #2F70FE;
    border: 1px solid #2F70FE;
    box-sizing: border-box;
}

#logo{
    padding-top: 8px;
}

#nav a{
    padding-left: 0;
}

#nav i {
    padding-right: 4px;
}


        /* Banner */


#banner{
    overflow: hidden;
    display: flex;
    z-index: 1;
    flex-flow: column;
    background-image: url("img/rectangle.png");
    background-repeat: no-repeat;
}

#title1{
    padding: 100px 0 33px 0;
    color: #fff;
    font-style: normal;
}

#title1 h1{
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}

#title1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

#register{
    display: flex;
    justify-content: center;
}

#register button{
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    padding: 16px 25px;
    background: #000;
    white-space: nowrap;
    height: 52px;
    text-align: center;
    color: #fff;
    border: none;
}

#banner .img{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#bRight{
    mix-blend-mode: luminosity;
    padding-right: 128.83px;
    margin-top: -191px; 
}

#bLeft{
    position: relative;
    z-index: 2;
    margin-top: -76px;
    padding-left: 98px;
}


        /* Section 1 */

      
#sec1{
    position: relative;
    z-index: 0;
    margin-top: -113px;
    background: rgba(0, 255, 133, 0.06);
}

.img1{
    position: absolute;
    top: 132px;
    right: 74px;
}

.img2{
    margin-top: -36px;
    padding-bottom: 81px;
    padding-left: 98px;
    display: flex;
    justify-content: flex-start;
}

#title2{
    padding-top: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    line-height: 51px;
    font-size: 40px;
    letter-spacing: 0.02em;
    color: #000;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}


#sm11{
    padding-left: 0px;
    margin-left: 0px;
}

#sm22{
    padding-left: 130px;
    margin-left: 90px;
}

#sm33{
    padding-left: 135px;
    margin-left: 90px;
}

#secT{
    gap: 0 89px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secT p{
    max-width: 235px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.01em;
    font-style: normal;
    color: #000C2D;
}


        /* Section 2 */


#sec2{
    padding-top: 111px;
    padding-bottom: 88.3px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 115px;
    justify-content: center;
}

#sec2 article{
    width: 50%;
}

.pic1{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.pic2{
    display: flex;
    justify-content: center;
    width: 50%;
}

article h2{
    margin: 0;
    font-weight: 700;
    font-style: normal;
    line-height: 37px;
    font-size: 28px;
    color: #181818;
}

article p{
    margin: 23px 0;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #000C2D;
}

article a{
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    line-height: 28px;
    font-size: 16px;
    color: #2F70FE;
    display: flex;
    align-items: center;
}

article i{
    padding-left: 8px;
}

#art4, #imgA4{
    padding-bottom: 8px;
}

 #imgA3{
     padding-bottom: 38px;
}

#art3{
    padding-bottom: 20px;
}

#art2{
    padding-bottom: 73px;
}

#imgA2{
    padding-bottom: 63px;
}

#art1{
    padding-bottom: 75px;
}

#art1 p, #art2 p, #art4 p{
    max-width: 55%;
}

#art5 p, #art3 p{
    max-width: 53%;
}

#imgA1{
    padding-bottom: 45px;
}


        /* Article 1 */


#art1{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column;
}

#art1 p{
    padding-left: 182px;
}

#art1 h2{
    padding-left: 62px;
}

#imgA1 img{
    padding-left: 58px;
}


        /* Article 2 */


#art2{
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-flow: column;
}

#art2 p,h2,a{
    padding-left: 75px;
}

#imgA2 img{
    padding-left: 83px;
    padding-top: 20px;
}


        /* Article 3 */


#art3{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column;
}

#art3 h2{
    padding-left: 88px;
}

#art3 p{
    padding-left: 167px;
}

#art3 a{
    width: 40.1%;
}

#imgA3{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#imgA3 img{
    padding-left: 103px;
}


        /* Article 4 */


#art4{
    padding-top: 30px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-flow: column;
}

#imgA4 img, #art4 a, #art4 h2, #art4 p{
    padding-left: 92px;
}


        /* Article 5 */


#art5{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: column;
    padding-bottom: 25px;
}

#art5 h2{
    padding-left: 80px;
}

#art5 p{
    padding-left: 169px;
}

#art5 a{
    width: 40.1%;
}

#imgA5 img{
    padding-left: 57px;
}



        /* Footer */


#footer{
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    column-gap: 128px;
    padding:89px 0 52px 0;
}

#footer a{
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #fff;
    padding: 0;
}

#footer h4{
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 19px;
}

#footer li{
    padding: 5px 0;
    list-style: none;
}

#footer ul{
    margin: 0;
    padding: 0;
}

#end{
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;   
}

#end p{
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
    padding-bottom: 61px;
    margin: 0;
}

#end p:nth-child(1){
    padding-left: 224px;
}

#end p:last-child{
    width: 36.5%;
}


@media (min-width: 1141px){


    #nav a.icon{
        opacity: 0;
        position: absolute;
    }

    #logo{
        position: relative;
        justify-content: flex-start;
    }
}


@media (max-width: 1140px){


    #nav{
        display: block;
        position: fixed;
        width: 100%;
        overflow: hidden;
        padding: 0;
    }

    #nav li{
        padding: 0;
        display: flex;
        justify-content: center;
        background: #181818;
    }

    #nav .active {
        padding: 0;
    }

    #logo{
        padding: 8px 10px;
    }

    ul#links{
        display: none;
        padding: 0;
        padding-top: 10px;
    }

    #links.menuMobile {
        padding-inline-start: 0;
        display: block;
    }

    #nav a,#nav #demo{
        color: #fff;
        padding: 14px 16px;
        display: block;
        border: none;
    }

    #nav #demo{
        text-transform: uppercase;
        width: inherit;
    }

    #nav a.icon {
        color: #181818;
        border: 1px solid #000;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }

      #nav a.icon i{
          padding: 0;
      }

      #sec1{
        margin-top: -100px;
    }

      #footer{
        column-gap: 80px;
    }
    
    #end p:nth-child(1) {
        padding-left: 224px;
    }

}
@media (max-width: 1139px){


    #nav a{
        font-size: 18px;
    }

    #bLeft{
        padding: 0;
    }

    #bRight{
        margin-top: -180px;
        padding: 0;
        width: 100px;
        height: 40px;
        width: auto;
        height: auto;
    }

    #sec1 .img2{
        margin-top: 0;
    }

    #sec2 article,#sec2 h2,#sec2 p{
        text-align: center;
        align-items: center;
        padding-left: 0;
    }

    #imgA2 img, #imgA4 img, #imgA5 img, #imgA3 img{
        padding-left: 0;
    }

    #imgA1 img{
        padding-left: 30px;
    }

    #sec  #art1 a, #sec2 #art2 a, #sec2  #art3 a, #sec2  #art4 a, #sec2  #art5 a{
        width: auto;
        padding-left: 0;
        text-align: center;
    }

    #sec2 #art1, #sec2 div, #sec2 #art2, #sec2  #art3, #sec2  #art4, #sec2  #art5{
        align-items: center;
        justify-content: center;
        width: 100%;
    }


    #footer{
        column-gap: 80px;
    }

    #end p:nth-child(1) {
        padding-left: 170px;
    }

    #sec2 #art1{order: 0;}
    #sec2 #imgA1{order: 1;}
    #sec2 #art2{order: 2;}
    #sec2 #imgA2{order: 3;}
    #sec2 #art3{order: 4;}
    #sec2 #imgA3{order: 5;}
    #sec2 #art4{order: 6;}
    #sec2 #imgA4{order: 7;}
    #sec2 #art5{order: 8;}
    #sec2 #imgA5{order: 9;}

}


@media (max-width: 850px){


    #secM{
        column-gap: 30px;
        display: flex;
    }

    #sec1 .img, #sec1 #secT{
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: column;
        width: 50%;
    }

    #sec1 .img{
        align-items: flex-end;
        width: 30%;
    }

    #sec1 #secT{
        align-items: flex-start;
        width: 70%;
        row-gap: 73px;
    }

    #sec1 .img img{
        padding: 10px;
        margin: 0;
    }

    #sec1 #secT p{
        margin: 23px;
        padding: 10px;
    }

    #sec1 .img1, #sec1 .img2{
        opacity: 0;
    }

    #wrapper #sec1 p{
        margin: 0;
        max-width: none;
    }

    #title1{
        padding-bottom: 15px;
        padding-top: 20px;
    }

    #title1 h1{
        font-size: 30px;
        line-height: normal;
    }

    #bRight{
        width: 40%;
        margin-top: -30px;
    }

    #bLeft{
        width: 40%;
        margin-top: 0;
    }

    #footer{
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 40px;
        row-gap: 20px;
        padding: 40px 30px;
    }

    #footer nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
    }

    #footer ul{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    #footer a{
        font-size: 16px;
    }

    #footer h4{
        margin: 15px 0;
    }

    #wrapper #footer:last-child{
        align-items: flex-start;
        justify-content: flex-start;
    }

    #end{
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    
    #wrapper #end p{
        text-align: center;
        padding-left: 0;
    }
}


@media (max-width: 650px){


    body p,body #wrapper #footer a{
        font-size: 14px;
        line-height: 16px;
    }

    #sec2 .pic1 img, #sec2 .pic2 img{
        width: 90%;
        height: auto;
    }

    #footer a{
        white-space: nowrap;
    }

    #sec2 article h2{
        font-size: 20px;
        line-height: normal;
    }

    #sec2{
        row-gap: 30px;
    }

    #sec1 h3{
        font-size: 30px;
    }

    #sec1 .img{
        row-gap: 70px;
    }

    #sec1 .img img{
        height: 70px;
        width: auto;
    }

    #bRight{
        margin-top: -10px;
    }

    #bLeft{
        margin-top: 10px;
    }

    #title1 h1{
        font-size: 24px;
    }

    #sec1 #sm22{
        padding-top: 20px;
    }

    #sec1 #sm33{
        padding-top: 0;
    }
}