@font-face {
    font-family: "Circular Std";
    src: url("fonts/CircularStd-Book.woff2") format("woff2"),
         url("fonts/CircularStd-Book.woff") format("woff");
  }

body{
    margin: 0;
    font-family: Circular Std;
    background: #E5E5E5;
}

#wrapper{
    width: 100%;
    max-width: 1440px;
    background: #fff;
    margin: 0 auto;
}

        /* Menu & Logo */
#nav{
    padding: 18px 97px 18px 69px;
    font-weight: 500;
    background: #fff;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#nav ul{
    list-style-type: none;
    display: flex;
    align-items:center;
    margin: 0;
}

#nav a{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #000;
}

#nav li{
    padding-right:32px;
}

#nav ul{
    justify-content:space-between;
}

#nav #demo{
    display: inline-block;
    white-space: nowrap;
    width: 136px;
    height: 44px;
    line-height: 20px;
    padding: 12px 23px;
    font-size: 16px;
    color: #2F70FE;
    border: 1px solid #2F70FE;
    box-sizing: border-box;
}

#title{
 padding-top: 8px;
}

#nav i{
    padding-right: 4px;
}
